
* {
    margin: auto;
    padding: 25px;
}

body {
    background: #BF988A;
    background: radial-gradient(circle, rgba(191, 152, 138, 1) 0%, rgba(36, 124, 109, 1) 0%, rgba(3, 28, 38, 1) 100%);
    border: 2px solid white;
    border-radius: 10px;
    margin: 50px;
}
.head {
    text-align: center;
}

.head p {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 1px;
}
.bios a{
    color: white;
    text-decoration: none;
}
.bios a:hover {
    color: cadetblue;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    background: #BF988A;
    background: radial-gradient(circle, rgba(191, 152, 138, 1) 0%, rgba(36, 124, 109, 1) 0%, rgba(3, 28, 38, 1) 100%);
    gap:2vh;
    width:50%;
}


.cpu{
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.ram{
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.cmos{
    border: 2px solid white;
    border-radius: 90%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.storage{
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
.rom{
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
.power{
    border: 2px solid white;
    border-radius: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
.button{
    text-shadow: 2px 2px 4px black;
}
.button:hover{
    color: cadetblue;
    
}



.display img {
    text-shadow: 2px 2px 4px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px
}


.display h3 {
    color: white;
    margin-bottom: var(--spacing-sm);
    font-size: 1.5em;
    text-align: center;
}

.display p {
    line-height: 1.6;
    margin-bottom: 2vh;
    color: white;
    text-align: center;
}

@media (max-width: 1500px) {
    .main {
        grid-template-columns: 1fr;
    }
    .container{
        display: grid;
        grid-template-columns: auto;
    }
    .cpu, .cmos, .ram , .rom , .storage, .power{
        position: static;
    }
    .head p {
        font-size: x-large;
    }

}

